<div class="modal-header">
  <div class="modal-title">{{title}}</div>
</div>
<nz-card>
  <nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
  <div sv-container *ngIf="i">
    <sv label="试卷名">{{ i.name }}</sv>
    <sv label="说明">{{ i.remark }}</sv>
    <sv label="年级">{{ i.gradeId }}</sv>
    <sv label="科目">{{ i.subjectId }}</sv>
  </div>
</nz-card>
<nz-card>
  <nz-card-tab>
    <nz-tabset nzSize="large">
      <nz-tab nzTitle="题目列表">
        <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
        <st #st [data]="url" [columns]="columns" [res]="{process: dataProcess}" (change)="change($event)"></st>
      </nz-tab>
      <nz-tab nzTitle="已选择题目">
        <div sv-container *ngFor="let qb of questionBankList; let idx = index">
          <sv label="{{idx + 1}}">{{ qb.title }}</sv>
          <nz-divider></nz-divider>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>
</nz-card>
<div class="text-center">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="button" nzType="primary" (click)="save()" [nzLoading]="http.loading">添加</button>
</div>

